<%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
  <div>
    <!--hidden_field tag puts relevant information on page w/o displaying-->
    <%= f.hidden_field :followed_id %>
  </div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>